* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
html {
  font-size: 18px;
}
body {
  font-family: 'Open Sans', sans-serif;
}
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
  padding: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
  border-radius: 10px;
}
a {
  color: #000;
}