.product-card-list {
    margin: 10px 0 0;
    padding: 70px 0 50px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 30px;
  }

  .product-card-list__button-container {
    display: flex;
    justify-content: center;
  }

  .product-card-list__button {
    width: 320px;
    height: 36px;
    border-radius: 6px;
    border: 1px solid #e8e8e8;
    background-color: #fff;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #000;
  }

  @media screen and (max-width: 768px) {
    .product-card-list {
      padding: 70px 0 60px;
      grid-template-columns: repeat(auto-fit, minmax(339px, 1fr));
      gap: 30px;
    }
  }

  @media screen and (max-width: 520px) {
    .product-card-list {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      padding: 40px 0 60px;
      gap: 34px;
    }

    .product-card-list__button {
      width: 240px;
    }
  } 